*.class
*.log
*.iml
*.ipr
.bsp
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
project/boot/
project/plugins/project/
logs/
project/project/
project/target/
target/
.scala_dependencies
.worksheet